<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body <%= 'dir=rtl' if %w(ar dv he iw fa nqo ps sd ug ur yi).include?(@locale) %>>
  <p>
    <%= t('hello', user_name: @user.name) %>
  </p>
  <p>
    <%= t('new_user', default: 'Thank you for contacting us.  Your message has been received by our support team and we will be in touch with you shortly with a response.') %>
  </p>
  <br/>
  <p>
    <strong>Beehive Support</strong><br/>
    Get connected to the right funders on <a href="http://www.beehivegiving.org/?utm_source=signature&utm_medium=email&utm_campaign=support">Beehive</a>
  </p>
  </body>
</html>
